
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<form asp-controller="Home" asp-action="Shop">

    <fieldset>
        User Name <br />
        <input type="text" name="username" /> <br />
        Password <br />
        <input type="password" name="password" required /><br />
        Password <br />
        <input type="password" name=" passwordtwo" required /><br />
        <input type="submit" name="Submit" />
    </fieldset>
</form>

<style>
    body {
             background-image: linear-gradient(to right, white , green);
       
    }

    #leg1 {
        color: black;
    }
</style>


